In [1]:
import pandas as pd

In [2]:
place = pd.read_csv('Resources/kepler.csv/kepler.csv')

In [3]:
place.head()

,# name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
0,OGLE-2016-BLG-1469L b,Confirmed,13.60,3.00,3.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11 Com b,Confirmed,19.40,1.50,1.50,19.40,1.50,1.50,NaN,NaN,...,G8 III,NaN,NaN,NaN,4742.0,100.0,100.0,NaN,NaN,NaN
2,11 Oph b,Confirmed,21.00,3.00,3.00,NaN,NaN,NaN,NaN,NaN,...,M9,0.011,0.002,0.002,2375.0,175.0,175.0,NaN,NaN,NaN
3,11 UMi b,Confirmed,10.50,2.47,2.47,10.50,2.47,2.47,NaN,NaN,...,K4III,1.560,0.540,0.540,4340.0,70.0,70.0,NaN,NaN,NaN
4,14 And b,Confirmed,5.33,0.57,0.57,5.33,0.57,0.57,NaN,NaN,...,K0III,NaN,NaN,NaN,4813.0,20.0,20.0,NaN,NaN,NaN

In [8]:
exoplanet = place[['# name','planet_status','mass','orbital_period','semi_major_axis','eccentricity','discovered','detection_type','star_name']].copy()

In [20]:
exoplanet_df = exoplanet.dropna(axis='rows').reset_index()

In [31]:
exoplanet_df = exoplanet_df[['# name','planet_status','mass','orbital_period','semi_major_axis','eccentricity','discovered','detection_type','star_name']]

In [32]:
exoplanet_df

,# name,planet_status,mass,orbital_period,semi_major_axis,eccentricity,discovered,detection_type,star_name
0,11 Com b,Confirmed,19.400,326.03000,1.2900,0.23100,2008.0,Radial Velocity,11 Com
1,11 UMi b,Confirmed,10.500,516.22000,1.5400,0.08000,2009.0,Radial Velocity,11 UMi
2,14 And b,Confirmed,5.330,185.84000,0.8300,0.00000,2008.0,Radial Velocity,14 And
3,14 Her b,Confirmed,4.640,1773.40000,2.7700,0.36900,2002.0,Radial Velocity,14 Her
4,16 Cyg B b,Confirmed,1.680,799.50000,1.6800,0.68900,1996.0,Radial Velocity,16 Cyg B
...,...,...,...,...,...,...,...,...,...
1160,tau Gem b,Confirmed,20.600,305.50000,1.1700,0.03100,2004.0,Radial Velocity,tau Gem
1161,ups And b,Confirmed,0.620,4.61711,0.0590,0.01186,1996.0,Radial Velocity,ups And
1162,ups And c,Confirmed,9.100,240.93700,0.8610,0.24450,1999.0,Radial Velocity,ups And
1163,ups And d,Confirmed,23.580,1281.43900,2.5500,0.31600,1999.0,Radial Velocity,ups And
1164,ups And e,Confirmed,1.059,3848.86000,5.2456,0.00536,2010.0,Radial Velocity,ups And

In [33]:
exoplanet_df.to_csv('cleaned_exoplanet.csv')

In [37]:
place2 = pd.read_csv('Resources/star.txt')

In [49]:
star = place2.drop(columns=['Unnamed: 0','Unnamed: 8','multiple'])

In [57]:
star_df = star.copy()

In [58]:
star_df.to_csv('cleaned_star.csv')

In [73]:
place3 = pd.read_csv('Resources/ustar.csv')

In [78]:
s2 = place3[['Star','Right','Declination','Spectral']]

In [81]:
s2 = s2.rename(columns = {'Star':'name','Right':'ra','Declination':'dec','Spectral':'class'})

In [80]:
star_df

,name,alt_name,ra,dec,vmag,class
0,HR 7228,Sig Oct,21 08 46.20,-88 57 23.0,5.47,STAR ...
1,HR 8294,,22 45 28.61,-88 49 05.9,6.57,STAR...
2,HR 5491,,15 28 19.10,-88 07 59.2,6.48,ST...
3,HR 6721,Chi Oct,18 54 46.90,-87 36 20.9,5.28,STAR ...
4,HR 6133,,17 15 59.30,-87 33 59.0,6.57,STAR ...
...,...,...,...,...,...,...
2995,HR 3381,,08 33 04.80,-24 36 23.0,6.19,STAR...
2996,HR 8235,,21 32 33.31,-24 35 26.2,6.43,STA...
2997,HR 844,Gam1For,02 49 51.00,-24 33 37.1,6.14,STAR ...
2998,HR 2781,29 CMa,07 18 40.30,-24 33 32.0,4.98,STA...
2999,HR 2578,,06 53 55.30,-24 32 21.1,6.21,ST...

In [85]:
s2 = s2.dropna().reset_index()

In [87]:
s2 = s2[['name','ra','dec','class']]

In [109]:
star_df.columns

Index(['name   ', 'alt_name ', 'ra         ', 'dec        ', 'vmag ',
       'class                                              '],
      dtype='object')

In [110]:
star_df = star_df.rename(columns = {'name   ':'name','alt_name ':'alt_name','ra         ':'ra','dec        ':'dec','vmag ':'vmag','class                                              ':'class'})

In [111]:
s1 = star_df[['name','ra','dec','class']]

In [118]:
cleaned_star_df = pd.concat([s1,s2])

In [120]:
cleaned_star_df = cleaned_star_df.reset_index()

In [122]:
cleaned_star_df =  cleaned_star_df[['name','ra','dec','class']]

In [126]:
cleaned_star_df = cleaned_star_df.drop_duplicates(subset=['name']).reset_index()

In [128]:
cleaned_star_df = cleaned_star_df[['name','ra','dec','class']]

In [130]:
cleaned_star_df.to_csv('cleaned_star.csv')

In [132]:
morestars = pd.read_csv('Resources/more_stars.csv')

In [143]:
morestars.columns

Index(['star_name', 'hip_name', 'hd_name', 'gj_name', 'tm_name',
       'st_exocatflag', 'st_coronagflag', 'st_starshadeflag', 'st_wfirstflag',
       'st_lbtiflag', 'st_rvflag', 'st_ppnum', 'rastr', 'ra', 'decstr', 'dec',
       'st_dist', 'st_disterr1', 'st_disterr2', 'st_vmag', 'st_vmagerr',
       'st_bmv', 'st_bmverr', 'st_spttype', 'st_lbol', 'st_lbolerr'],
      dtype='object')

In [144]:
morestars_df = morestars[['star_name','ra','dec','st_spttype']].copy()

In [154]:
morestars_df = morestars_df.rename(columns={'st_spttype':'class','star_name':'name'})

In [155]:
s3 = morestars_df.dropna()

In [176]:
cleaned_stars_df = pd.concat([s1,s2,s3])

In [177]:
cleaned_stars_df = cleaned_stars_df.drop_duplicates(subset=['name']).reset_index()

In [182]:
cleaned_stars_df.head()

   index     name           ra          dec       class
0      0  HR 7228  21 08 46.20  -88 57 23.0  STAR F0III
1      1  HR 8294  22 45 28.61  -88 49 05.9   STAR F0IV
2      2  HR 5491  15 28 19.10  -88 07 59.2     STAR A0
3      3  HR 6721  18 54 46.90  -87 36 20.9  STAR K3III
4      4  HR 6133  17 15 59.30  -87 33 59.0  STAR G5III

In [183]:
cleaned_stars_df.to_csv('cleaned_stars.csv')

In [181]:
cleaned_stars_df['class'] = cleaned_stars_df['class'].str.lstrip()

In [168]:
exoplanet_df.head()

,# name,planet_status,mass,orbital_period,semi_major_axis,eccentricity,discovered,detection_type,star_name
0,11 Com b,Confirmed,19.40,326.03,1.29,0.231,2008.0,Radial Velocity,11 Com
1,11 UMi b,Confirmed,10.50,516.22,1.54,0.080,2009.0,Radial Velocity,11 UMi
2,14 And b,Confirmed,5.33,185.84,0.83,0.000,2008.0,Radial Velocity,14 And
3,14 Her b,Confirmed,4.64,1773.40,2.77,0.369,2002.0,Radial Velocity,14 Her
4,16 Cyg B b,Confirmed,1.68,799.50,1.68,0.689,1996.0,Radial Velocity,16 Cyg B

In [169]:
pd.to_numeric(exoplanet_df['mass'])

0       19.400
1       10.500
2        5.330
3        4.640
4        1.680
         ...
1160    20.600
1161     0.620
1162     9.100
1163    23.580
1164     1.059
Name: mass, Length: 1165, dtype: float64

In [170]:
pd.to_numeric(exoplanet_df['orbital_period'])
pd.to_numeric(exoplanet_df['semi_major_axis'])
pd.to_numeric(exoplanet_df['eccentricity'])
pd.to_numeric(exoplanet_df['discovered'])

0       2008.0
1       2009.0
2       2008.0
3       2002.0
4       1996.0
         ...
1160    2004.0
1161    1996.0
1162    1999.0
1163    1999.0
1164    2010.0
Name: discovered, Length: 1165, dtype: float64

In [172]:
exoplanet_df.to_csv('exoplanet.csv')